<a href="https://colab.research.google.com/github/posi2/MACHINE-LEARNING/blob/master/mutliclassclassifiaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
! wget 'https://he-s3.s3.amazonaws.com/media/hackathon/hitachi-data-engineer-hiring-2019/predict-the-passenger-level-1-d9e6a11f/d522aa9cf97211e9.zip?Signature=SLM8HbB20T%2FRRg0JlqZB%2BW8VlqI%3D&Expires=1572948991&AWSAccessKeyId=AKIAI6ICDAQTL3Q6ZBKA' 
! unzip d5*

--2019-11-05 09:19:55--  https://he-s3.s3.amazonaws.com/media/hackathon/hitachi-data-engineer-hiring-2019/predict-the-passenger-level-1-d9e6a11f/d522aa9cf97211e9.zip?Signature=SLM8HbB20T%2FRRg0JlqZB%2BW8VlqI%3D&Expires=1572948991&AWSAccessKeyId=AKIAI6ICDAQTL3Q6ZBKA
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.40.236
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.40.236|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 81887 (80K) [application/zip]
Saving to: ‘d522aa9cf97211e9.zip?Signature=SLM8HbB20T%2FRRg0JlqZB+W8VlqI=&Expires=1572948991&AWSAccessKeyId=AKIAI6ICDAQTL3Q6ZBKA’

d522aa9cf97211e9.zi 100%[===================>]  79.97K   183KB/s    in 0.4s

2019-11-05 09:20:01 (183 KB/s) - ‘d522aa9cf97211e9.zip?Signature=SLM8HbB20T%2FRRg0JlqZB+W8VlqI=&Expires=1572948991&AWSAccessKeyId=AKIAI6ICDAQTL3Q6ZBKA’ saved [81887/81887]

In [0]:
import pandas as pd
import numpy as np

In [0]:
db = pd.read_csv('DataSet/Train.csv')
db.head(10)

           id_code current_date  ... current_day is_weekend
0  isfywypmkqqhyft   2016-07-27  ...   Wednesday      False
1  mqsfxyvuqpbwomk   2016-07-27  ...   Wednesday      False
2  alspwwtbdvqsgby   2016-07-27  ...   Wednesday      False
3  szitxhhqduyrqpg   2016-07-27  ...   Wednesday      False
4  krisdqzczivvwcp   2016-07-27  ...   Wednesday      False
5  orrnrrynwpmcxmm   2016-07-27  ...   Wednesday      False
6  raoheuoxqijqxcz   2016-07-27  ...   Wednesday      False
7  huhiqfxnerbedmq   2016-07-27  ...   Wednesday      False
8  igqcnhdcmejjkah   2016-07-27  ...   Wednesday      False
9  taxcjmdnymvsvva   2016-07-27  ...   Wednesday      False

[10 rows x 19 columns]

In [0]:
db.tail(10)

              id_code current_date  ... current_day is_weekend
1274  vawndbafnaybiya   2016-10-05  ...   Wednesday      False
1275  njlybhnbugefzmv   2016-10-05  ...   Wednesday      False
1276  oogyulnhlyckuzj   2016-10-05  ...   Wednesday      False
1277  kkmvxuefdmqluge   2016-10-05  ...   Wednesday      False
1278  slyjypnjhzdznuj   2016-10-05  ...   Wednesday      False
1279  gfnxmbjcdyjdbeo   2016-10-05  ...   Wednesday      False
1280  mcfgyjeuatomuub   2016-10-05  ...   Wednesday      False
1281  rwhslfljqeapqhw   2016-10-05  ...   Wednesday      False
1282  xcseqqecaatslst   2016-10-05  ...   Wednesday      False
1283  hfhwirltuffenfr   2016-10-05  ...   Wednesday      False

[10 rows x 19 columns]

In [0]:
db['country_code_destination'].unique()

array([nan, 'whber', 'aqfre', 'qwnll', 'zxdec', 'logbp'], dtype=object)

In [0]:
db['current_day'].unique()

array(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)

In [0]:
db.describe()

       longitude_source  latitude_source  ...  current_year  current_week
count       1283.000000      1283.000000  ...        1284.0   1284.000000
mean           4.292481        50.934674  ...        2016.0     36.781153
std            0.552492         0.206194  ...           0.0      3.175253
min           -0.126061        49.638463  ...        2016.0     30.000000
25%            4.039653        50.845658  ...        2016.0     36.000000
50%            4.360846        50.896456  ...        2016.0     38.000000
75%            4.482785        51.056365  ...        2016.0     39.000000
max            5.982265        51.925093  ...        2016.0     40.000000

[8 rows x 8 columns]

In [0]:
def delete_null_value_above_sixty_percent():
  
        for feature in dataset:
            if dataset[feature].isnull().sum()>(0.6*rows):
                del dataset[feature]
                print(feature)